  <% if resource.errors.any? %>
    <div class="form-errors">
      <ul>
        <% resource.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="auth-container">
  <div class="auth-card">
    <h1>Sign Up</h1>
    <p>Create an account to start shopping and accessing personalized features.</p>

    <!-- Display Form Errors -->


    <%= form_with scope: :user, url: user_registration_path, local: true, class: "auth-form" do |f| %>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, class: "form-input" %>
      </div>

      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "new-password", class: "form-input" %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-input" %>
      </div>

      <div class="form-group">
        <%= f.check_box :admin %>
        <%= f.label :admin, "Check this if you are an admin" %>
      </div>

      <div class="form-group">
        <%= f.submit "Sign Up", class: "auth-button" %>
      </div>
    <% end %>

    <div class="auth-footer">
      <p>Already have an account? <%= link_to "Sign In", new_user_session_path, class: "auth-link" %></p>
    </div>
  </div>
</div>
