<div class="product-details-container">
  <!-- Product Image -->
  <div class="product-image-section">
    <% if @product.image_url.present? %>
      <%= image_tag @product.image_url.url, alt: @product.name, class: "product-image" %>
    <% else %>
      <%= image_tag "placeholder.png", alt: "No Image Available", class: "product-image" %>
    <% end %>
  </div>

  <!-- Product Description -->
  <div class="product-description-section">
    <h1><%= @product.name %></h1>
    <p><%= @product.description %></p>
    <p><strong>Stock: $<%= @product.stock %></strong></p>
    <p><strong>Price: $<%= @product.price %></strong></p>
    <div>
        <%= link_to 'Edit', edit_admin_product_path(@product), class: 'btn btn-secondary' %>
        <%= form_with model: @product, url: admin_product_path(@product), method: :delete, data: { confirm: 'Are you sure?' }, class: 'd-inline' do %>
            <%= submit_tag 'Delete', class: 'btn btn-danger', data: { confirm: 'Are you sure?' } %>
        <% end %>

    </div>
  </div>
  <%= link_to 'Back to Products', admin_products_path, class: 'btn btn-secondary' %>
</div>

