<div class="container mt-4 product-details-container">
  <div class="row">
    <!-- Product Image Section -->
    <div class="col-md-6 product-image-section">
      <% if @product.image_url.present? %>
        <%= image_tag @product.image_url.url, alt: @product.name, class: "img-fluid " %>
      <% else %>
        <%= image_tag "placeholder.png", alt: "No Image Available", class: "img-fluid " %>
      <% end %>
    </div>

    <!-- Product Description Section -->
    <div class="col-md-6 product-description-section d-flex flex-column justify-content-between" style="height: 100%;">

      <!-- Product Title and Description -->
      <div>
        <h1 class="product-title"><%= @product.name %></h1>
        <p><%= @product.description %></p>
        <p><strong>Price: $<%= @product.price %></strong></p>
        <p><strong>Stock: <%= @product.stock %></strong></p>
      </div>

      <!-- Buttons at the bottom -->
      <div class="d-flex justify-content-between mt-3">
        <!-- Add to Cart Button -->
        <%= form_with url: carts_path, method: :post, local: true, class: "d-flex align-items-center" do |f| %>
          <%= f.hidden_field :product_id, value: @product.id %>
          <%= f.number_field :quantity, value: 1, min: 1,max: @product.stock, class: "form-control me-2", style: "width: 60px;" %>
          <%= f.submit "Add to Cart", class: "theme-button btn btn-sm btn-outline-primary ms-2" %>
        <% end %>
        <!-- Back Button -->
        <%= link_to "Back", products_path, class: "btn btn-secondary" %>

        
      </div>
    </div>
  </div>
</div>